
@charset "utf-8";
<?php header('Content-type: text/css'); ?>


/* General Resets */
body {
	font:12px/1.75em Verdana, Arial, sans-serif;
}
#global_container {
	background-color:transparent;
}
h2 {
	margin:0 0 .5em;
	font:24px/1em  'Opensans-bold';
}
h3 {
	margin:0 0 1em;
	padding:0 0 .25em;
	font:18px 'Opensans-bold';
	text-transform:none;
	border-bottom:1px solid #ccc;
}
input::-ms-clear {
	display: none;  /*remove the 'x' clear button from ie browsers */
}

.button {
	display: inline-block;
	padding:.7em 1em;
	line-height:1em;
	cursor:pointer;
	text-decoration: none;
	text-align: center;
	border-radius:4px;
}
.button-small {
	padding: .4em .8em;
	font-size:.9em
}
.button-round {
	padding:0;
	height:28px;
	width:28px;
	line-height:27px;
	border-radius:50%;
}
.toolbox {
	margin-bottom:1.5em;
	padding: 2em 2.5em;
}
.toolbox .log {
	margin-top:2em;
	font-family: 'Opensans-regular';
}
.toolbox .log strong {
	font-family: 'Opensans-semibold';
	opacity:0.7;
}
.toolbox.first {
	margin-right:3%;
}

/* Group selectors for protocol, environment etc */
.controls>.button {
	margin-right: .35em;
	font-family:'Opensans-bold', Arial, Helvetica, sans-serif;
	font-size:14px;
}

/* Query parameters */
#params > li{
	position: relative;
	margin-bottom: .75em;
	cursor:pointer;
}
#params > li label{
	display: inline-block;
	height:32px;
	padding:0 .25em 0 .75em;
	font:14px/32px 'Opensans-semibold';
	border:1px solid #bfbfbf;
	cursor: default;
}

#params > li label {
	width:38%;
	position: relative;
	margin-right: 25px;
	text-transform: none;
	font-family:'Opensans-bold';
	border:none;
}

#params .twitter-typeahead {
	width: 49%;
	display: inline-block;
	height:32px;
	cursor: default;
}
#params .tt-input {
	width: 100%;
	height:100%;
	padding:0 .25em 0 .75em;
	font:14px/32px 'Opensans-semibold';
	border:none;
	vertical-align: inherit !important; /* override typeahead's vert align top */
	border:none;
}
#params.autocompleteOpen .tt-input {
}
#params.autocompleteOpen .tt-input.active {
	border-radius:4px 4px 0 0;
}

#params .tt-input:focus {
	outline:none;
}
#params .tt-menu {
	display: block;
	width: 100%;
	top:1px;
	font:14px/32px 'Opensans-semibold';
	border-top:1px solid #aaa;
	color: #000;
	background: #fff;
	max-height: 150px;
	overflow-y: auto;
	border-radius:0 0 4px 4px;
	box-shadow:inset 0 2px 3px rgba(0, 0, 0, 0.3);
}
#params .tt-dataset {
	padding:5px 0 5px;
}
#params .tt-suggestion {
	padding:0 10px;
}
#params .tt-highlight {
	font-family: 'Opensans-bold';
}
#params > li label:after {
	display: block;
	position: absolute;
	content:"=";
	right:-18px;
	top:0;
	font-weight: bold;
	font-size:18px;
}
#params .eq {
	float:left;
	margin:0 .75em;
}
#params .delete {
	float:right;
}

/* GENERATED URL Styles */
.urlbox {
	position: relative;
}
#generated_url {
	margin-bottom: 2em;
}
#generated_url a {
	display: inline;
	padding:0;
	position: relative;
	word-break:break-all;
	font:21px 'Opensans-semibold';
	text-decoration: none;
}
.url-go{
	display: block;
	padding:.75em 0;
	font-family:'Opensans-bold';
	font-size:17px;
	font-weight:normal!important;
	text-align:center;
	text-decoration:none;
	border-radius:2px;
}
.url-options {
	position: absolute;
	top:-3.2em;
	right:0;
	text-align: center;
}
.url-options>.button {
	position: relative;
}
.url-options .alert {
	display: none; /* hidden on page load so we can fade it in on aftercopy event */
	position: absolute;
	width: 100%;
	top: -2.5em;
	padding: .5em 0;
	line-height: 1em;
	border-radius: 7px;
}

/* Configuration box */
.configure {
	position: absolute;
	top:2em;
	right:2em;
}

/***************** THEMES ******************/
/* ----- Light ----- */
body[data-theme="default-light"] {color:#222;background-color: #e8e8e8;}
body[data-theme="default-light"] h1{color:#222;}
body[data-theme="default-light"] h3 {color:#222;border-bottom-color: #e3e3e3;}
body[data-theme="default-light"] a,
body[data-theme="default-light"] a:active,
body[data-theme="default-light"] a:visited {color:#0059B3;}
body[data-theme="default-light"] .toolbox {background-color: #f8f8f8;}
body[data-theme="default-light"] .toolbox .log.hover {color:#A9B5C0;}
/* standard button styles */
body[data-theme="default-light"] .button {color:#8B8B8B;background-color: #e3e3e3;}
body[data-theme="default-light"] .button:hover,
body[data-theme="default-light"] .button.hover {color:#fff;background-color: #001C35;} /* .hover class is for zeroclipboard elements hover styling */
body[data-theme="default-light"] .button.current {color:#fff;background-color: #0084FF;}
body[data-theme="default-light"] .button.current:hover {background-color: #001C35;}
/* button contrast style - sits directly on the background */
body[data-theme="default-light"] .button-contrast {background-color:transparent;}
body[data-theme="default-light"] .button-contrast:hover,
body[data-theme="default-light"] .button-contrast.hover {color:#343434;background-color:transparent;}
body[data-theme="default-light"] .button-contrast.current:hover,
body[data-theme="default-light"] .button-contrast.current.hover {color:#fff;}
	/* parameters */
body[data-theme="default-light"] #params > li label {color:#0084ff;border:none;background-color: #dedede;}
body[data-theme="default-light"] #params > li label:after {color:#d2d2d2;}
body[data-theme="default-light"] #params .tt-input {border:1px solid #BFBFBF;}
body[data-theme="default-light"] #params.autocompleteOpen .tt-input {color:#999;background-color: #ccc;border:none;}
body[data-theme="default-light"] #params.autocompleteOpen .tt-input.active {color:#222;background-color: #fff;box-shadow:0 0px 10px rgba(0, 0, 0, 0.3);}
body[data-theme="default-light"] #params .tt-menu{ box-shadow:0 3px 10px rgba(0, 0, 0, 0.3); background-color: #f9f9f9;border-color:#ddd;}
/* selected suggestion in menu */
body[data-theme="default-light"] #params .tt-cursor,
body[data-theme="default-light"] #params .tt-suggestion:hover {color:#fff;background-color: #D8009B;}
/* highlighted query character */
body[data-theme="default-light"] #params .tt-highlight {color: #D8009B;}
/* selected suggestion +  highlighted query characters */
body[data-theme="default-light"] #params .tt-cursor .tt-highlight,
body[data-theme="default-light"] #params .tt-suggestion:hover .tt-highlight {color:#B6FF00;}
body[data-theme="default-light"] #generated_url a {}
body[data-theme="default-light"] #generated_url a:hover {border-bottom-color:#309afc;}
body[data-theme="default-light"] #generated_url .part {color:#001220;}
body[data-theme="default-light"] #generated_url .param {color:#D8009B;}
body[data-theme="default-light"] #generated_url .sep {color:#BDBDBD;}
body[data-theme="default-light"] #generated_url .eq {color:#FF8EBD;}
body[data-theme="default-light"] a.url-go {color:#fff;background-color: #0084FF;}
body[data-theme="default-light"] a.url-go:hover {background-color:#001C35;}
/* Copy button alert */
body[data-theme="default-light"] .url-options .alert {background-color: rgba(0,0,0,0.1);}

/* ----- Dark ----- */
body[data-theme="default-dark"] {color:#ccc;background-color: #111615;}
body[data-theme="default-dark"] h1{color:#ddd;}
body[data-theme="default-dark"] h3 {color:#888888;border-bottom-color:#666;}
body[data-theme="default-dark"] a,
body[data-theme="default-dark"] a:active,
body[data-theme="default-dark"] a:visited {color:#0084FF;}
body[data-theme="default-dark"] .toolbox {background-color: #333;}
body[data-theme="default-dark"] .toolbox .log.hover {color:#648099;}

/* standard button styles */
body[data-theme="default-dark"] .button {color:#656565;background-color: #272727;box-shadow: 0 0 2px rgba(0,0,0,0.8);}
body[data-theme="default-dark"] .button:hover,
body[data-theme="default-dark"] .button.hover{color:#8b8b8b;background-color:#000;} /* .hover class is for zeroclipboard elements hover styling */
body[data-theme="default-dark"] .button.current {color:#111;background-color:#0084FF;box-shadow: 0 0 3px rgba(0,0,0,0.8);}
body[data-theme="default-dark"] .button.current:hover {background-color:#0099FF;}
/* button contrast style - sits directly on the background */
body[data-theme="default-dark"] .button-contrast {color:#6E6E6E;background-color: transparent;box-shadow: none;}
body[data-theme="default-dark"] .button-contrast:hover,
body[data-theme="default-dark"] .button-contrast.hover {color:#bbb;background-color:transparent;}
body[data-theme="default-dark"] .button-contrast.current:hover,
body[data-theme="default-dark"] .button-contrast.current.hover {color:#000;}
/* parameters */
body[data-theme="default-dark"] #params > li label {color:#1890FF;border:none;background-color: #2D2C2C;}
body[data-theme="default-dark"] #params label:after {color:#666;}
body[data-theme="default-dark"] #params .tt-input {color:#e0e0e0;background-color: #111615;}
body[data-theme="default-dark"] #params.autocompleteOpen .tt-input {color:#555;background-color: #222;}
body[data-theme="default-dark"] #params.autocompleteOpen .tt-input.active {color:#000;background-color: #fff;}
/* selected suggestion in menu */
body[data-theme="default-dark"] #params .tt-cursor,
body[data-theme="default-dark"] #params .tt-suggestion:hover{color:#fff;background-color: #9E024F;}
/* highlighted query character */
body[data-theme="default-dark"] #params .tt-highlight {color: #9E024F;}
/* selected suggestion +  highlighted query characters */
body[data-theme="default-dark"] #params .tt-cursor .tt-highlight,
body[data-theme="default-dark"] #params .tt-suggestion:hover .tt-highlight {color:#B6FF00;}
body[data-theme="default-dark"] #generated_url a {color:#DFF2B1;border-bottom:2px dotted #555;}
body[data-theme="default-dark"] #generated_url .part {color:#ddd;}
body[data-theme="default-dark"] #generated_url .param {color:#2A98FF;}
body[data-theme="default-dark"] #generated_url .sep {color:#2EC800;}
body[data-theme="default-dark"] #generated_url .eq {color:#0068CA;}
body[data-theme="default-dark"] #generated_url a:hover {border-bottom-color: #777;}
body[data-theme="default-dark"] #generated_url a:hover .part {color:#fff;}
body[data-theme="default-dark"] #generated_url a:hover .param {color:#00BDFF;}
body[data-theme="default-dark"] #generated_url a:hover .sep  {color:#2A870E;}
body[data-theme="default-dark"] #generated_url a:hover .eq  {color:#006CAB;}
body[data-theme="default-dark"] a.url-go {color:#000;background-color: #910349;}
body[data-theme="default-dark"] a.url-go:hover {background-color:#B30058;}
/* Copy button alert */
body[data-theme="default-dark"] .url-options .alert {background-color: #404443;}
